
.countdown-container {
	display: inline-block;
}

.countdown-item {
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	background: #000;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
}