.header-top {
	line-height: 2.6rem;
	background: #fff;
	border-top: 2px solid $brand-primary;
	font-size: .875rem;
	box-shadow: 0 0 4px rgba(0,0,0,.2);
	position: relative;
	z-index: 1;
	
	// color: $header-top-color;

}