.icon {
	width: 1em; height: 1em;
  fill: currentColor;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  margin-right: .25rem;
  font-size: 1rem;
  margin-top: .125rem;
}

.icon-wancan {
	font-size: 1.25rem;
}

.icon-edit_light {
	font-size: 1.25rem;
	margin-top: -.125rem;
}