
.head-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.head-nav-item {
	color: lighten($gray-dark, 40%);
	padding: 1rem 0;
	margin: {
		left: 1.5rem;
		right: 1.5rem;
	}
	display: inline-block;
	font-size: .875rem;
	vertical-align: middle;
	border-bottom: 2px solid #fff;
	
	&:hover {
		text-decoration: none;
		color: $gray-dark;
	}

	&.active {
		color: $gray-dark;
		border-bottom: 2px solid $brand-primary;
	}

	&.logo {
		img {
			height: 1.5rem;
		}
	}

	&.right {
		// float: right;
	}
}