// Variable
//

// header-top

$header-top-height:                 2.5rem;
$header-top-bg:                     #f0f0f0;
$header-top-color:                  #b9b9b9;


// resume-img
$resume-img-width:                  20rem;
$resume-img-height:                 $resume-img-width * 4 / 3;
$resume-img-border:                 5px;
$resume-img-color:                  #d0d0d0;


// nav-list
$nav-list-color:                    #9b9b9b;
$nav-list-active:                   $gray-dark;


// layout
$layout-gutter:                     0 1rem;


// nav-sidebar
$nav-sidebar-color:                 #7a7a7a;