
.main-view {
	padding: {
		top: 2rem;
		bottom: 6rem;
	}

	>.col-md-10 {
		padding-right: 30px;
	}

	>.col-md-2 {
		padding-left: 30px;
		border-left: .5px solid #f0f0f0;
	}
}

.knowledge-container {
	margin-bottom: 4rem;
}

.lcc-swiper-slide {
	overflow: hidden;
	height: 100%;
	>img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: 0;
		max-width: 100%;
	}
}

.test {
	border-radius: 3px;
	height: 400px;
	background: #f0f0f0;
	padding: 1rem;
	font-size: 12px;
	> li {
		color: #aaa;
		margin-bottom: .5rem;
	}
}

.main-container {
	margin-top: 3.5rem;
}